<footer class="footer">
  <div class="footer-inner">

    <div class="footer-top">
      <div class="col">
        <h4>Collections</h4>
        <ul>
          <li>All Products</li>
          <li>Electronics</li>
          <li>Fine Jewelry</li>
          <li>Men's Collection</li>
          <li>Women's Collection</li>
        </ul>
      </div>

      <div class="col">
        <h4>Company</h4>
        <ul>
          <li>About Us</li>
          <li>Careers</li>
          <li>Contact</li>
          <li>Editorial</li>
        </ul>
      </div>

      <div class="col">
        <h4>Client Services</h4>
        <ul>
          <li>Concierge</li>
          <li>Delivery & Returns</li>
          <li>Authentication</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="divider"></div>

      <div class="bottom-row">
        <p>© ALL RIGHTS RESERVED.</p>

        <div class="social">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-pinterest"></i>
        </div>
      </div>
    </div>

  </div>
</footer>