<header class="header">
  <div class="header-container">


    <div class="left">
      <h1 class="logo" [routerLink]="['/']" >Chloe</h1>
    </div>

<div class="center">
  <nav class="nav-tabs">

    <button class="tab" [routerLink]="['/products']" [queryParams]="{ cat: 'electronics' }">Electronics</button>
    <button class="tab" [routerLink]="['/products']" [queryParams]="{ cat: 'jewelery' }">Jewelery</button>
    <button class="tab" [routerLink]="['/products']" [queryParams]="{ cat: 'clothing' }">Clothing</button>
    @if(authService.user()?.role === 'admin'){
      <button [routerLink]="['/dashboard']" >Dashboard</button>
    }
  </nav>
</div>

    <div class="right">

<div class="currency-toggle">

  <label class="switch">
    <input type="checkbox" (change)="toggleCurrency()" />
    <span class="slider"></span>
  </label>

  <span>LBP</span>
</div>
      <!-- <img src="assets/icons/search.svg" alt="search" class="icon" /> -->
      <div class="profile-wrap" (click)="$event.stopPropagation()">
  <button class="icon-btn" type="button" (click)="onProfileClick()">
    <img src="assets/icons/profile.svg" alt="profile" class="icon" />
  </button>

  @if (authService.isAuthenticated() && menuOpen()) {
    <div class="menu">
      <button class="menu-item" [routerLink]="['/profile']" (click)="closeMenu()">
        Profile
      </button>

      <!-- <button class="menu-item" [routerLink]="['/profile']" [queryParams]="{ tab: 'payments' }" (click)="closeMenu()">
        Payments
      </button> -->

      <button class="menu-item danger" (click)="logout()">
        Logout
      </button>
    </div>
  }
</div>
      <div class="cart-wrapper">
  <img src="assets/icons/cart.svg" class="icon" [routerLink]="['/cart']" />
  @if (cart.totalItems() > 0) {
  <span class="cart-badge">{{ cart.totalItems() }}</span>}

</div>

    </div>

  </div>
</header>