<div class="card"
     [routerLink]="['/products', product.id]">

  <div class="image-container"
       (mouseenter)="showOverlay = true"
       (mouseleave)="showOverlay = false">

    <img [src]="product.image" [alt]="product.title" />

    @if (showOverlay) {
      <div class="overlay"></div>
    }

  </div>

  <div class="info">
    <h3>{{ product.title }}</h3>

    <div class="bottom">
      <span class="price">${{ product.price }}</span>

      <button class="plus"
              (click)="addToCart(); $event.stopPropagation()">
        +
      </button>
    </div>
  </div>

</div>