<div class="login-form-container">
  <div class="card">
    <h2>Welcome Back</h2>
    <p>Sign in to your account</p>

    <form [formGroup]="fbGroup" class="login-form" (ngSubmit)="onSubmit()">
      <div class="input">
        <label for="email">Email:</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        />

        @if (validation.getErrorMessage(fbGroup.get('email'))) {
          <span class="error">{{ validation.getErrorMessage(fbGroup.get('email')) }}</span>
        }
      </div>

      <div class="input">
        <label for="password">Password:</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Enter your password"
        />

        @if (validation.getErrorMessage(fbGroup.get('password'))) {
          <span class="error">{{ validation.getErrorMessage(fbGroup.get('password')) }}</span>
        }
      </div>

        @if (loginError) {
    <span class="error">{{ loginError }}</span>
  }

      <div class="options">
        <label class="remember">
          <input type="checkbox" />
          Remember me
        </label>

        <a routerLink="/forgot-password" class="forgot">Forgot password?</a>
      </div>

      <button class="login-btn" type="submit">Sign in</button>

      <p class="signup-text">
        Don’t have an account?
        <a routerLink="/signup">Sign up</a>
      </p>
    </form>
  </div>
</div>