<div class="details-card">

        <h2>Personal Information</h2>
        <p class="sub">Your account details</p>

        <form [formGroup]="form" (ngSubmit)="save()">

          <div class="form-grid">

            <div class="form-group">
              <label>First Name</label>
              <input type="text" formControlName="firstName">
            </div>

            <div class="form-group">
              <label>Last Name</label>
              <input type="text" formControlName="lastName">
            </div>

            <div class="form-group full">
              <label>Email</label>
              <input type="email" formControlName="email">

              @if (validation.getErrorMessage(form.get('email'))) {
                <span class="error"> {{ validation.getErrorMessage(form.get('email')) }}</span>
              }
            </div>

            <div class="form-group full">
              <label>Username</label>
              <input type="text" formControlName="username">
            </div>

              

          </div>
<button type="submit" class="save-btn">
                Save Changes
              </button>
        </form>

      </div>