/* You can add global styles to this file, and also import other style files */

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

body {
  margin: 0;
  background-color: #f9fafb;
}


.page {
  min-height: calc(100vh - 70px); 
}